.brand-logo {
    text-align: center;
    border: 1px solid #EEE;
    padding: 24px;
    @include transition;

    img {
        @include transition;
    }

    &:hover {
        border: 1px solid #84A9FF;
        
        img {
            filter: invert(31%) sepia(98%) saturate(2697%) hue-rotate(193deg) brightness(99%) contrast(101%);
        }
    }
}