.cta-banner-wrapper {
    background-color: $theme-color;
    border-radius: 18px;
    padding: 40px;
    @include flex;
    justify-content: space-between;

    @include breakpoint (max-xl){
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        text-align: center;
    }

    .content {
        h2 {
            font-size: 72px;
            font-weight: 600;
            color: $white;

            @include breakpoint (max-xxl){
                font-size: 60px;
            }

            @include breakpoint (max-md){
                font-size: 50px;
            }

            @include breakpoint (max-sm){
                font-size: 40px;
            }
        }

        .theme-btn {
            border-radius: 9px;
            background: rgba(255, 238, 246, 0.15);
            margin-top: 20px;

            span {
                color: $white;
            }
        }
    }
}

.cta-subscribe-wrapper {
    padding: 80px 40px;
    margin: 0 auto;
    text-align: center;
    border-radius: 18px;

    @include breakpoint (max-lg){
        padding: 50px 40px;
    }

    @include breakpoint (max-md){
        padding: 50px 40px;
    }

    @include breakpoint (max-sm){
        padding: 40px 30px;
    }

    h2 {
        max-width: 1020px;
        margin: 0 auto;
        font-size: 46px;
        font-weight: 600;

        @include breakpoint (max-sm){
            font-size: 36px;
        }
    }

    .newsletter-input {
        position: relative;
        max-width: 610px;
        width: 100%;
        margin: 40px auto 0;

        input {
            width: 100%;
            outline: none;
            border: 1px solid $theme-color;
            background: #fff; 
            border-radius: 9px;
            padding: 17px 20px;
        }

        .theme-btn {
            position: absolute;
            top: 7px;
            bottom: 7px;
            right: 8px;
        }
    }
}

.cta-subscribe-section {
    position: relative;

    &::before {
        @include before;
        background-color: #FFEBF5;
        height: 50%;
    }
}

.product-banner-items-2 {
    padding: 55px 25px;

    &.style-2 {
      
        .content {
            span {
              margin-bottom: 0;
            }
            p {
                color: $white;
                text-transform: capitalize;
                display: inline-block;
                margin-bottom: 5px;
            }

            h3 {
                color: $white
            }

            .theme-btn {
                background: #fff;
                border-radius: 40px;
                margin-top: 20px;

                span {
                    color: #57437B;
                }

                &::before,&::after {
                    background-color: #57437B;
                }

                &:hover {
                    span {
                        color: $white;
                    }
                }
            }
        }
    }

    .content {
        span {
            text-transform: capitalize;
            display: inline-block;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 36px;
        }

        .text-btn {
            display: inline-block;
            font-size: 14px;
            font-family: $heading-font-3;
            font-weight: 500;  
            color: #57437B;
            margin-top: 20px;

            i {
                margin-left: 8px;
            }
        }
    }

    &.style-color {
        .content {
            p {
                color: $header-color;
            }

            h3 {
                color: #57437B;
            }
        }
    }

    &.style-padding {
        padding: 90px 25px;
    }
}

.cta-discount-content {
    padding: 150px 0;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;

    h2 {
        color: $white;
        font-size: 48px;
        font-weight: 600;
        font-family: $heading-font-3;
        margin-bottom: 15px;
    }

    p {
        color: $white;
    }

    .theme-btn {
        background-color: $white;
        border-radius: 60px;
        padding: 19px 42px;
        margin-top: 30px;

        span {
            color: #57437B;
        }

        &::before,&::after {
            background-color: #57437B;
        }

        &:hover {
           span {
             color: $white;
           }
        }
    }
}

.cta-newsletter-content {
    padding: 140px 0;
}

.cta-newsletter-content {
    max-width: 750px;
    position: relative;

    h2 {
        color: $white;
        font-size: 54px;
        font-weight: 600;
        font-family: $heading-font-3;

        @include breakpoint (max-sm){
            font-size: 42px;
        }
    }

    p {
        color: $white;
        margin-top: 10px;
    }

    .newsletter-input {
        @include flex;
        gap: 16px;
        margin-top: 30px;

        @include breakpoint (max-xl){
          flex-wrap: wrap;
        }
    }

    input {
        width: 79%;
        outline: none;
        border: none;
        background: #fff; 
        border-radius: 9px;
        padding: 17px 20px;

        @include breakpoint (max-xl){
            width: 100%;
        }
    }

    .theme-btn {
        padding: 23px 35px;
        background-color: #57437B;
        border-radius: 40px;
    }

    &.style-2 {
        margin: initial;
        text-align: left;
        max-width: initial;
        padding: 100px 88px;

        @include breakpoint (max-xl){
            padding: 60px 60px;
        }

        @include breakpoint (max-md){
            padding: 50px 40px;
        }

        h2 {
            color: $theme-color-4;
            font-size: 40px;
            font-weight: 600;
            font-family: $heading-font;

            @include breakpoint (max-sm){
               font-size: 35px;
            }
        }

        p {
            color: $text-color;
        }

        .newsletter-input {
            max-width: 580px;

            input {
                border-radius: 60px;
                background: #FFF;
            }
        }

        .theme-btn {
            background-color: $theme-color-4;
        }
    }
}

.instagram-image {
    margin-top: 30px;
    position: relative;

    img {
        @include imgw;
    }

    .icon {
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-radius: 50%;
        background-color: $white;
        color: $header-color;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 20px;
        opacity: 0;
        visibility: hidden;

        &:hover {
            background-color: $theme-color-5;
            color: $white;
        }
    }

    &:hover {
        .icon {
            opacity: 1;
            visibility: visible;
        }
    }
}

.instagram-section {
    .swiper-dot {
        position: relative;
        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            transition: 0.6s;
            background: transparent;
            border: 1px solid rgba(1, 15, 28, 0.40);
            opacity: 1;
            border-radius: 12px;
            &:not(:last-child){
            margin-right: 10px;
            }
        }

        .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background: #010F1C;
            transition: 0.6s;
            position: relative;
        }
    }
}

.cta-wrapper-5 {
    .cta-content {
        margin: 0 auto;
        text-align: center;
        max-width: 390px;

        h2 {
            font-size: 52px;
            font-weight: 600;
            color: $white;
            margin-bottom: 15px;
        }

        p {
            font-size: 26px;
            color: $white;
        }

        .theme-btn {
            background-color: $white;
            border-radius: 50px;
            margin-top: 20px;

            &::before,&::after {
                background-color: $header-color;
            }

            span {
                color: $theme-color-6;
                margin-bottom: 0;
            }

            &:hover {
                
                span {
                    color: $white;
                }
            }
        }
    }
}

.cta-video-wrapper-6 {
    position: relative;
    padding: 185px 0;
    background-attachment: fixed;

    &::before {
        @include before;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
    }

    .video-items {
        text-align: center;
        position: relative;

        h3 {
            font-size: 32px;
            font-weight: 600;
            color: $white;
        }

        .video-popup {
            display: inline-block;
            width: 80px;
            height: 80px;
            line-height: 80px;
            text-align: center;
            border-radius: 50%;
            background-color: $theme-color-6;
            color: $white;
            margin-top: 30px;
        }
    }
}

.cta-newsletter-content-2 {
    padding: 100px 0;
    margin: 0 auto;
    text-align: center;
    position: relative;

    h2 {
        font-size: 36px;
        font-weight: 600;
        font-family: $heading-font-4;

        @include breakpoint (max-sm){
            font-size: 30px;
        }
    }

    p {
        color: $white;
        font-size: 24px;
        color: $header-color;
        max-width: 490px;
        margin: 15px auto 0;
    }

    .newsletter-input {
        @include flex;
        gap: 16px;
        margin-top: 30px;
        max-width: 500px;
        justify-content: center;
        margin: 40px auto;

        @include breakpoint (max-xl){
          flex-wrap: wrap;
        }
    }

    input {
        max-width: 430px;
        outline: none;
        border: none;
        background: #fff; 
        border-radius: 0;
        padding: 17px 20px;
        width: 70%;
        color: $text-color;
        margin: 0 auto;

        @include breakpoint (max-xl){
            width: 100%;
        }
    }

    .theme-btn {
        padding: 23px 35px;
        background-color: $theme-color-6;
        border-radius: 0;
    }
}
