
//page scroll bar add
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px $bg-color; 
	border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: $header-color;
	border-radius: 10px;
}
//page scroll bar add

//Basic Code Start
.fix {
  overflow: hidden;
}

.ralt{
 position: relative;
}

.ml-50 {
  margin-left: 50px;

    @include breakpoint (max-xl){
     margin-left: 0;
    }
}
//Basic Code End

//Video Css Start
.ripple {
  position: relative;

  &::before,&::after {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 110px;
      height: 110px;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
      -webkit-animation: rippleOne 3s infinite;
      animation: rippleOne 3s infinite;
  }

  &::before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }

  &::after {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }
}
//Video Css End

//pagination default


//pagination default

.mt-10 {
  margin-top: 10px;
}

br {
  @include breakpoint(max-md){
    display: none;
  }
}

.mt-60 {
  margin-top: 55px;
}

.mb-40 {
  margin-bottom: 40px;
}

/* background */
.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.bg-cover-2 {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  width: 100%;
  height: 100%;
}

//>>>>> Nice Select Css Start <<<<<//
.nice-select {
  background-color: transparent;
  width: unset;
  outline: none;
  // border-bottom: 2px solid $border-color !important;
  // padding-bottom: 20px !important;
  border: none;
  border-radius: 0;
  padding: 0;

  span {
    font-size: 16px;
    color: $text-color;
    text-transform: capitalize;
  }
}

.nice-select .current {
  margin-right: 12px;
}



.nice-select.open .list {
  background: $bg-color;
  margin-top: 16px;
  width: 100%;
  text-transform: capitalize;
  color: $text-color;
}

.nice-select .option.selected.focus {
  background: $bg-color;
  outline: none;
  color: $text-color;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  border: none;
}

.nice-select .option {
  border: none;
}

.nice-select .option:hover {
  background: transparent;
}

//>>>>> Nice Select Css End <<<<<//


.sticky-style {
  position: sticky !important;
  top: 100px;
}

.gt-slide-transtion {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.gt-brand-slide-element {
	width: auto;
	display: inline-block;
}

.category-container {
  margin: 0 auto;
  max-width: 1276px;
}

.footer-bg {
  background-color: #00060C;
}

.footer-container {
  margin: 0 auto;
  max-width: 1570px;
}



.color-palate {
  position: fixed;
  left: 0px;
  text-align: center;
  top: 0%;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 100%;
  max-width: 280px;
  z-index: 99999;
  height: 100%;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.color-palate .color-palate-inner {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all;
  transition: all;
  background: #ffffff;
  -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  height: 100%;
  padding-bottom: 30px;
}
.color-palate .color-palate-inner::-webkit-scrollbar {
  width: 5px;
}
.color-palate .color-palate-inner::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.color-palate .color-palate-inner::-webkit-scrollbar-thumb {
  background: #888;
}
.color-palate .color-palate-inner::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.color-palate .palate {
  background: #0055d4;
  display: block;
  float: left;
  height: 45px;
  margin: 0 2.5% 12px;
  width: 20%;
  cursor: pointer;
  position: relative;
}
.color-palate .colors-list .active::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  color: white;
}
.color-palate .various-color {
  overflow: hidden;
  padding: 40px 0 15px;
}
.color-palate .colors-list {
  margin: 0 20px;
}
.color-palate .secondary-head {
  background: #222222;
  padding: 14px 0;
}
.color-palate .secondary-color {
  padding: 23px 0;
}
.color-palate .secondary-colors-list {
  margin: 0 80px;
}
.color-palate .palate-foo {
  color: #777777;
  font-size: 13px;
  font-weight: 400;
  padding: 0 30px;
  line-height: 1.8em;
}
.color-palate .palate-foo span {
  display: block;
  padding-top: 20px;
  margin-top: 5px;
  border-top: 1px dotted #b2b2b2;
}
.color-palate .palate.default-color {
  background: #ffc107;
}
.color-palate .palate.blue-color {
  background: #246af4;
}
.color-palate .palate.brown-color {
  background: #964b00;
}
.color-palate .palate.green-color {
  background: #3ead3c;
}
.color-palate .palate.orange-color {
  background: #ffb347;
}
.color-palate .palate.purple-color {
  background: #bb54e1;
}
.color-palate .palate.teal-color {
  background: #44a9aa;
}
.color-palate .palate.yellow-color {
  background: #fed000;
}
.color-palate .color-trigger,
.color-palate .close-color-trigger {
  background: #0055d4;
  cursor: pointer;
  height: 36px;
  width: 36px;
  left: 100%;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
          transform: translateY(-40%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  mix-blend-mode: exclusion;
}
.color-palate .color-trigger i {
  color: #ffffff;
  font-size: 16px;
  -webkit-animation: fa-spin 2s linear infinite;
          animation: fa-spin 2s linear infinite;
}
.color-palate .close-color-trigger i {
  color: #ffffff;
  font-size: 20px;
}
.color-palate .close-color-trigger {
  display: none;
}
.color-palate h6 {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 20px;
}
.color-palate .box-version {
  padding-top: 10px;
  padding-bottom: 0px;
}
.color-palate .option-box {
  padding-top: 10px;
  padding-bottom: 5px;
}
.color-palate .option-box .active {
  background-color: $theme-color;
}
.color-palate .option-box > li {
  position: relative;
  color: #ffffff;
  width: 40%;
  margin: 0px 3px;
  cursor: pointer;
  margin-bottom: 9px;
  padding: 8px 12px;
  font-size: 12px;
  display: inline-block;
  background-color: #0055d4;
  text-transform: uppercase;
  @include transition;
}
.color-palate .option-box > li:hover {
  background-color: $header-color;
}
.color-palate .purchase-box {
  position: relative;
  padding: 20px 15px 0px;
  max-width: 270px;
  margin-inline: auto;
}
.color-palate .purchase-box__btn {
  position: relative;
  color: #ffffff;
  width: 50%;
  margin: 0;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 12px;
  display: inline-block;
  background-color: #0055d4;
  text-transform: uppercase;
  margin-top: 25px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.color-palate .purchase-box__btn:hover {
  background-color: #000;
}

.color-palate.visible-palate {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.category-container-2 {
  max-width: 1440px;
  margin: 0 auto;
}

//pagination default
.swiper-dot4 {
  .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      @include transition;
      background: #B6B7BC;
      opacity: 1;
      border-radius: 10px;
      
      &:not(:last-child){
        margin-right: 10px;
      }
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
     background-color: #0E1422;
      transition: 0.6s;
      position: relative;
   }
}

.bg-light-orange {
  background-color: #A3BEF8 !important;
}

.bg-light-grey {
  background-color: #FFD58A !important;
}

.bg-dark-color {
  background-color: #83B18B !important;
}